/*
 *******************
 * PAGE MAIN STYLE *
 *******************
*/

body {
  background: $themeColor-Light;
  user-select: none;
}

main {

  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 200px;
  }
}

/* HEADER */

header {
  display: inline-block;
  width: 100%;
  background: #ccc;

  nav {
    float: right;

    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* EXAMPLE SECTION */

section.example {
  width: 100%;

  .cards {
    display: inline-block;
    margin-bottom: -4px;
  }

  article {
    float: left;
  }
}

/* FOOTER */

footer {
  display: block;
  width: 100%;
}
